body{
    background-image: linear-gradient(to right, #0b3c5da9, #1d4e899c, #2a6f97ab, #4ea7dea9, #a9d6e591);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.icon{
    color: white;
    float: right;
    margin-right: 5%;
    font-size: x-large;
}
.icon i:hover{
    background-color: #0b3c5da9;
    padding: 4px;
}
.brd{
    background-color: white;
    background-image: linear-gradient(to right, #0b3c5da9, #1d4e899c, #2a6f97ab, #4ea7dea9, #a9d6e591), url(./images/Get\ ready\ for\ the\ upcoming\ bull\ run\ as\ altcoin….jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.349);
    padding: 20px;
}
