body{
    background-image: linear-gradient(to right, #0b3c5d, #1d4e89, #2a6f97, #4ea7de, #a9d6e5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.btnn{
    text-decoration: none;
}
